$white: #ffffff;
$black: #333333;

$primary: #657cdd;
$darkPrimary: #10137f;
$lightPrimary: #b9bcff;

$secondary: #9885a3;
$darkSecondary: #624467;
$lightSecondary: #cfb1bb;

$gray: #c0bcc2;
$darkGray: #210e29;

// font
$title: 30px;
$subtitle: 24px;
$normal: 20px;
$paragraph: 16px;
$small: 12px;